* {
    cursor: pointer;
}

#customerProfiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px;
   }
 
#customerCard {
    margin: 5px 5px 50px 5px;
    padding: 5px;
    justify-content: space-between;
    text-align: center;
}

.customerImg {
    border-radius: 10em 15em;
    margin: 0px;
}

.customerName {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}

.customerEmail {
    color: gray;
}